@charset "utf-8";
/* FLASH STYLER
Designed By - Tanmay Saxena
Version 1.05 */

#sheet #main_body #flash_banner{
	margin-right: 0;
	border: 7px solid #3CF !important;
	position : relative;
	width : 660px;
	height : 220px;
	
	
	margin-top : -30px;
	margin-left : -10px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,.4) !important;
	box-shadow: 0 10px 10px rgba(0,0,0,.4) !important;
	
	left:228px;
	
	
	}
	
.fl_settings
{
position : absolute;

}
